.v-main
  position: fixed
  overflow: auto
  width: 100%
  height: 100vh

.v-container
  min-height: calc(100vh - 124px)

.font-kaisei-opti
  font-family: "Kaisei Opti", "Noto Sans JP", sans-serif

.font-kiwi-maru
  font-family: "Kiwi Maru", "Noto Sans JP", sans-serif

.font-cairo
  font-family: "Cairo", "Noto Sans JP", sans-serif

body
  font-family: "Noto Sans JP", sans-serif

.doc-container
  //color: #ccc
  line-height: 1.7em

  ol, ul
    padding-left: 16px

    li
      margin: 4px 0

  p
    margin: 8px 0

  h2
    border-left: #ff8c00 3px solid
    padding: 4px 16px
    margin-top: 16px
    margin-bottom: 8px
    font-size: 1.4em
    display: inline-block

  pre
    .v-theme--dark &
      background: #343434
    .v-theme--light &
      background: #d7d7d7

    border-radius: 4px
    overflow-x: auto
    white-space: nowrap
    padding: 8px 16px

